





input:focus{
	 outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}
h2{
	text-align: center;
}
h3{
	line-height: 0.01;
	text-align: center;
}


table:nth-of-type(1),table:nth-of-type(2){
	margin: 0 auto;

}
table:nth-of-type(3){

	/*margin-left: 20px;padding: 20px;*/
}

body {
	background: url('https://feedammo.github.io/RishabhYadav/assets/background.jpg');
width: 100%;
	background-color: lightblue;
}

#doc_container {
	background-color: rgba(177, 242, 224, 0.4);

	box-sizing: border-box;
	max-width: 800px;
	margin: 0 auto;

}


#ph-confirm {
	
	text-align: center;
}



table {
	/*border: 1px solid black;*/

  border-collapse: separate;
  border-spacing: 2px;

}

nav {
    margin: 0 0 0 0;
    /*font-family: Arial;
    */font-size: 100%;
    width: 100%;
    overflow: hidden;
 }
 
input,select {
	border-radius: 2px;
	margin-bottom: 5px;
}
#conditions{
	width: 500px;
}
.psgn-details input[type='checkbox']{
	 float: left;
    margin: 0 auto;
    width: 100%;
}
	